gris = #5F5F5F
// utlilis

body
  color gris
  font-family sans-serif
  letter-spancing 2px

.Header
  &-menu
    width 100%
    height 30px
    display flex
    justify-content flex-end
    align-items center
    border-bottom 1px solid #ccc
    .btn
      text-decoration none
      margin-left 10px
      font-weight bold
      color gris
      &:hover
        color orange

.Landing
.Current
.Websites
  padding 3em 0
  width 100%
  display flex
  flex-direction column
  justify-content center
  align-items center

  &-title
    font-size 3em
    margin 0
  &-text
    margin 10px
    color orange
    font-size 2em
    font-weight bold

.Current
  border-top 1px solid #ccc
  border-bottom 1px solid #ccc

  &-link
    margin-top 20px
    font-size 2em
