@import './styles/fonts/style.css'

gris = #5F5F5F

a
  text-decoration none

body
  color gris
  font-family sans-serif
  letter-spacing 2px

.Header
  &-menu
    width 100%
    height 30px
    display flex
    justify-content flex-end
    align-items center
    border-bottom 1px solid #ccc
    a
      margin-left 10px
      font-weight bold
      color gris
      &:hover
        color orange
.Main
  width 100%
  height 90vh
  display flex
  justify-content center
  align-items center

  &-button
    border none
    outline none
    border-radius .3em
    box-shadow .2em .2em .5em rgba(0, 0, 0, 0.1);
    cursor pointer
    color white
    font-weight bold
    font-size 1.2em
    padding 1em
  .icon-change-color:before
    margin-right: .3em
